<h1>Pages#contact</h1>
<p>Find me in app/views/pages/contact.html.erb</p>
<a target="_blank" href="https://goo.gl/maps/q5UMFeirbuXLmXr26"><br>
  Rebeca Matte 18, Santiago</a>
<!--Codigo para el mapa-->
<br>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3329.2952669260303!2d-70.63508730000001!3d-33.4416131!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662c59d3ba8b3a5%3A0x9a56aa26512f5357!2sRebeca%20Matte%2018%2C%20Santiago%2C%20Regi%C3%B3n%20Metropolitana%2C%20Chile!5e0!3m2!1ses-419!2sco!4v1654826075054!5m2!1ses-419!2sco" width="1200" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
